<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= poll.title %> | EasyPoll
    </title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />

</head>

<body>

    <%- include('partials/header') %> 

    <main class="container">
        <% var totalVotes=poll.options.reduce(function(acc, option) { return acc + option.score; }, 0); %>

            <fieldset>

                <% poll.options.forEach(function(option) { %>
                    <article>
                        <label>
                            <input type="radio" name="option" data-id="<%= option.id %>"/>
                            <%= option.title %> <span data-id="<%= option.id %>" style="filter: opacity(0.8);"> - <%= option.score %> votos  (<%= Number((option.score / totalVotes) * 100 || 0 ).toFixed(1) %>%)</span>
                        </label>
                        <progress value="<%= (option.score / totalVotes) * 100 %>" max="100"
                            data-id="<%= option.id %>" />
                    </article>
                    <% }); %>

            </fieldset>
    </main>

    <section class="container" style="position: relative; margin-bottom: 0px;">
    <h4>Compartilhe</h4>
    </section>  
    <section class="container" style="position: relative; margin-bottom: 20vh;">
        <input type="text" id="copy" onclick="copy()" style="cursor: pointer; padding-right: 30px; margin-bottom: 0px; text-overflow: ellipsis;" readonly value="">
        <svg onclick="copy()" style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="white" width="20px"><path d="M384 336H192c-8.8 0-16-7.2-16-16V64c0-8.8 7.2-16 16-16l140.1 0L400 115.9V320c0 8.8-7.2 16-16 16zM192 384H384c35.3 0 64-28.7 64-64V115.9c0-12.7-5.1-24.9-14.1-33.9L366.1 14.1c-9-9-21.2-14.1-33.9-14.1H192c-35.3 0-64 28.7-64 64V320c0 35.3 28.7 64 64 64zM64 128c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H256c35.3 0 64-28.7 64-64V416H272v32c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V192c0-8.8 7.2-16 16-16H96V128H64z"/></svg>
    </section>

    <script>
        var pollData = <%- JSON.stringify(poll) %>;
        // console.log('Dados da pesquisa:', pollData);
        var totalVotes = pollData.options.reduce(function (acc, option) {
            return acc + option.score;
        }, 0);

        console.log(totalVotes)

        var socket = new WebSocket(`ws://${window.location.host}/polls/${window.location.href.split('/').pop()}/results`);

        socket.onopen = function (event) {
            console.log('Conexão WebSocket aberta.');
        };

        socket.onmessage = function (event) {
            var newData = JSON.parse(event.data);

            for (let i = 0; i < pollData.options.length; i++){
                if(pollData.options[i].id == newData.pollOptionId){
                    pollData.options[i].score = newData.votes
                }
            }
            
            totalVotes = pollData.options.reduce(function (acc, option) {
            return acc + option.score;
            }, 0);

            pollData.options.forEach(function(option) {
                document.querySelector(`progress[data-id="${option.id}"]`).setAttribute("value", (option.score / totalVotes) * 100)
                document.querySelector(`span[data-id="${option.id}"]`).textContent = ` - ${option.score} votos (${Number((option.score / totalVotes) * 100).toFixed(1)}%)` 
            })


        };

        socket.onclose = function (event) {
            console.log('Conexão WebSocket fechada.');
        };

        socket.onerror = function (error) {
            console.error('Erro na conexão WebSocket:', error);
        };

        var inputs = document.getElementsByName('option')
        inputs.forEach(input => {
        input.addEventListener("click", (event) => {
            const formData = {
                pollOptionId: event.target.getAttribute('data-id'),
            };

            fetch(`/polls/${pollData.id}/votes`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
                .then(response => {

                    if (!response.ok) {
                    return response.json().then(data => {
                    throw new Error(data.message);
                    });
                    }
                })
                .catch(error => {
                    alert(error.message);
                });
        })
    })

    document.getElementById('copy').value = document.location.href

    function copy(){
            var copyText = document.getElementById('copy');
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            navigator.clipboard.writeText(copyText.value);
            document.getElementById('copy').value = "Link copiado!"
            setTimeout(function() {
            document.getElementById('copy').value = document.location.href;
        }, 1000);

        }
    </script>

        <%- include('partials/footer') %>

        <style>
            progress {
                margin-bottom: 0px;
            }
            section svg {
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
            }
            @media (max-width: 500px) {
                section svg {
                right: 30px;
            }  
            }
        </style>

</body>

</html>